:root {
  --blue: #00a0e0;
  --black: #171818;
  --bg: #ECF0F0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#name {
  font-size: 40px;
  color: var(--bg);
  margin-top: -10px;
}

.topnav {
  background-color: var(--black);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000; 
  box-sizing: border-box; 
}

.topnav a {
  float: left;
  color: var(--blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  margin-top: 7px;
}



.topnav a:hover {
  background-color: rgba(12, 49, 107, 0.5);
  border-radius: 10px;
}

.video_container {
  position: relative;
  width: 100%;
  height: 110%;
  overflow: hidden; 
}

.video_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background: rgba(46, 46, 46, 0.74); 
}

.container {
  position: relative;
  height: 110%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#test {
  transform: rotate(90deg);
  color: white;
  font-size: 80px;
  font-family: monospace;
  margin-top: 50%;
  margin-bottom: -50%;
}

#scrolls {
  color: white;
  text-align: center;
  margin-top: 30%;
  margin-bottom: -15%;
}

.t1 {
  color: var(--blue);
  text-align: center;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: -10%; 
  margin-top: -20%;
}

.t2 {
  color: white;
  text-align: center;
  font-size: 80px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.t2::after {
  content: '';
  display: block;
  width: 800px;
  height: 2px;
  background: var(--blue); 
  margin: 10px auto 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.t3 {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  margin-top: -20px;
}

#title {
  font-family: "Open Sans", sans-serif;
  font-weight: 269;
  font-size: 65px;
  text-align: center;
}

.about {
  padding: 20px 13% 20px; 
  color: black;
  text-align: center;
  min-height: 80%; 
  background-color: var(--bg);

  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  line-height: 2em;
  text-align: left;
}

.experience {
  padding: 60px 13% 20px; 
  color: black;
  text-align: center;
  min-height: 80%; 
  background-color: var(--bg);

  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  line-height: 2em;
  text-align: left;
}

.contact {
  padding: 60px 13% 20px; 
  color: black;
  text-align: center;
  min-height: 80%; 
  background-color: var(--bg);

  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  line-height: 2em;
  text-align: left;
}

.exp_name {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.exp_time {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-top: -35px;
}

.exp_info {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  margin-top: -20px;
  margin-left: 5%;
}

#contacter {
  font-family: "Open Sans", sans-serif;
}

.links {
  color: black;
}